innodb_buffer_pool_size = <value>

#innodb用日志把随机IO变成顺序IO，这两个参数对写性能非常重要
innodb_log_file_size = <value> //32-128MB

########################以上是innodb最重要的两个选项#####################

innodb_log_files_in_group = <value>

innodb_flush_log_at_trx_commit = <0,1,2> //推荐选择2即可

innodb_file_per_table = <value> 
innodb_flush_method = <value> 

#innodb表空间实现很多功能，不只是存储表和索引，还保存了插入缓冲、双写缓冲等
innodb_data_home_dir = /var/lib/mysql
innodb_data_file_path = ibdata1:1G;ibdata2:1G;ibdata3:1G:autoextend:max:2G

#即使没有使用Myisam表，依然建议给key_buffer_size一个较小值，如32M。因为mysql自己的内部表
#使用的引擎就是Myisam，此外group by语句在需要时，MySQL服务器会创建临时表。
key_buffer_size = <value>

#并发配置，它用来限制一次性有多少线程进入内核，0标示不限制。
innodb_thread_concurrency = <服务器CPU核数的2倍>

innodb_buffer_pool_instance = <value> 

innodb_read_io_threads = <value> 
innodb_write_io_threads = <value> 

